<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="utf-8">
  <title>OZworld</title>
  <!-- cdn css -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <!-- onpre css -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/cover.css">
</head>
<body>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="../index.html">KeyManager</a>
    <form class="form-inline text-right">
      <input class="form-control mr-sm-2" type="search" placeholder="keywords..." aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="button">Run</button>
    </form>
  </nav>

  <div class="jumbotron-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

          <!-- カルーセル設定 -->
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <p class="display-1 text-center">First Slide</p>
              </div>
              <div class="swiper-slide">
                <p class="display-1 text-center">Second Slide</p>
              </div>
              <div class="swiper-slide">
                <p class="display-1 text-center">Third Slide</p>
              </div>
            </div>
            <!-- pagenation -->
            <div class="swiper-pagenation"></div>
            <!-- navigation -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <p>&copy2020 personal cover page.</p>
  </footer>

  <!-- cdn jsfile -->
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- onpre jsfile -->
  <script src="../../js/jquery-3.5.1.min.js" charset="utf-8"></script>
  <script src="../../js/bootstrap.min.js" charset="utf-8"></script>
  <script src="./js/cover.js" charset="utf-8"></script>
</body>
</html>
